body{
    text-align: center;
    background-color: rgb(34, 34, 34);
}

.titulo{
    color: whitesmoke;
}

.tateti{
    display:grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    font-family: 'Fredoka One', cursive;
    margin-left: 330px;
}

.casillero{
    border: solid 2px rgb(51, 51, 51);
    text-align: center;
    font-size: 10rem;
    background-color: rgb(126, 212, 252);
}

.casilleroX{
    border: solid 2px rgb(51, 51, 51);
    text-align: center;
    font-size: 10rem;
    color: yellow;
    background-color: rgb(126, 212, 252);}

.casilleroA{
    border: solid 2px rgb(51, 51, 51);
    text-align: center;
    font-size: 10rem;
    color: tomato;
    background-color: rgb(126, 212, 252);}